@model IEnumerable<istp_laba1.Students>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Abonements" asp-route-id="@item.Id">Abonements</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<div>
    <h2>Choose excel-file for upload</h2>
    @using (Html.BeginForm("Import", "Students", FormMethod.Post, new
    {
        enctype = "multipart/form-data",
        id = "frm-excel"
    }))
    {
        <div>
            Upload Excel-file:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Upload" />
            </div>
        </div>
    }
</div>

<div>
    <h2>Download info into file</h2>
    <a asp-action="Export" >Download</a>
</div>
